/* Is it? Theme stylesheet == Created by Brad Czerniak. Released into the public domain on 2/15/2008 */

/* Main elements and wrappers */
body {
	font-family:Calibri, Arial, sans-serif;
	text-align:center;
	}	

/* Headings */
h1{
	font-size: 140pt;
	letter-spacing: 4pt;
	font-weight:bold;
	text-transform:uppercase;
	margin-top:200px;
	}

/* Elementals */
p{
	display:none;
	}